// Overrides consumed by Bootstrap via @use ... with
$theme-colors: (
  "primary":   #00313C,
  "secondary": #B9C7C2,
  "text-muted":#616970,
  "success":   #198754,
  "info":      #0dcaf0,
  "warning":   #ffc107,
  "danger":    #dc3545,
  "light":     #f8f9fa,
  "dark":      #212529
);

// colors
$vermont-brand-color: #154734;
$vermont-accent-color: #00313C;
$vermont-light-blue: #64dfeb;
$vermont-link: #1F74B2;
$vermont-border: #707070;
$vermont-dark-grey: #333333;
$vermont-light-grey: #F7F7F7;
$vermont-black-80: #26292C;